/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.star {
  width: 0;
  height: 0;
  margin: 50px auto;
  position: relative;
  display: block;
  color: yellow;
  font-size: 100px;
}

.star::before {
  content: "★";
  color: yellow;
  font-size: 100px;
}
